body{
    margin: 1;
    padding: 1;
    background: url(bg-img.jpg) no-repeat;
    background-size: cover;
}
.box{
    width: 450px;
    background: rgb(0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 7%;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h4{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;   
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}